<header>
  <div class="header-title p-xl-3">
    <div class="header-icon">
      <img src="https://raw.githubusercontent.com/AmadeusITGroup/otter/main/apps/showcase/src/assets/otter.svg" width="48" height="48" alt="Otter logo" />
    </div>
    <div class="d-block d-sm-none">Otter</div>
    <div class="d-none d-sm-block">Otter Tutorial</div>
  </div>
</header>
<div class="page-content">
  <app-step-pres [title]="data.title" [steps]="data.steps"></app-step-pres>
  <app-result-pres [workFolder]="data.path">
    <app-component-creation-exercise-pres></app-component-creation-exercise-pres>
  </app-result-pres>
</div>

