@use '@design-factory/design-factory' with (
  $prefix: bs-,
  $df-spinner-circumference: 2rem
);

app-step-pres {
  max-height: 40vh;
  background: var(--bs-tertiary-bg);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  .action-bar [tabindex] {
    cursor: pointer;
  }

  .exercise-header {
    justify-content: space-between;
    align-items: center;
    background-color: var(--bs-primary-bg-subtle);
    font-family: design-factory.$headings-font-family;
  }

  .steps {
    overflow-y: auto;
    height: auto;
  }
}
