@use '@design-factory/design-factory' with (
  $prefix: bs-,
  $df-spinner-circumference: 2rem
);

app-step-pres {
  max-height: 40vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;

  .exercise-header {
    justify-content: space-between;
    padding: .5rem;
    height: 2.5rem;
    background-color: var(--bs-primary-bg-subtle);
    font-size: 1rem;
    font-family: design-factory.$headings-font-family;

    h1 {
      font-size: 1rem;
    }
  }

  .steps {
    overflow-y: auto;
    height: auto;
  }
}
